
{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <div class="content">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <table align="center">
            <tr>
              <td>Baby Stuff</td>
              <td>{{ form.keywords() }}</td>
              <td><button type="submit" class="button-primary">Search</button></td>
            </tr>
          </table>
        </div>
      </form>

    </div>

  </section>


  <div class="content">
    {% if products %}
      <table align="center">
         {% for product in products %}
           <tr>
           <th><img src='{{product['imUrl']}}' height='42' /></th>
           <th>{{product["title"]}}</th>
           </tr>
         {% endfor%}
      </table>
    {% endif %}
  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // your JS Code
  // Your D3 code could be here
  </script>
{% endblock js %}
