
{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <div class="content">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <table align="center">
            <tr>
              <td>Baby Stuff</td>
              <td>{{ form.keywords() }}</td>
              <td><button type="submit" class="button-primary">Search</button></td>
            </tr>
          </table>
        </div>
      </form>

    </div>

  </section>


  <div class="container">
    <div class="row">
      {% if products %}
         {% for product in products %}
           <div class='col-sm-1'>
             <input id=product
                    type=image
                    name=display 
                    src={{product['imUrl']}}
                    width=72
                    height=72
                    value={{product['asin']}}
             />
           </div>
         {% endfor%}
      {%endif%}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-sm-4'>
        <span id=prdct_image></span><br>
      </div>
      <div class='col-sm-8'>
        <span id=prdct_title></span><br><br>
        <span id=prdct_brand></span><br><br>
        <span id=prdct_price></span><br><br>
        <span id=prdct_description></span><br><br>
      </div>
    </div>
  </div>

{% endblock body %}

{% block js %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type=text/javascript>
    $(function() {
      $('input#product').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/display', {
          a: $(this).val()
        }, function(data) {
          $("#prdct_title").text(data.title);
          $("#prdct_description").text(data.description);
          $("#prdct_brand").text("brand: "+data.brand);
          $("#prdct_price").text("price: $"+data.price);
          <!--$("#prdct_image").append("<img id='theImg' src='"+data.imUrl+"'/>")-->
          var image = document.createElement("IMG");
          image.src=data.imUrl;
          image.height=200;
          image.align='center';
          $("#prdct_image").html(image)
        });
        return false;
      });
    });
  </script>

{% endblock js %}

