
{% extends 'base.html' %}

{% block js %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <!--get product details and display-->
  <script type=text/javascript>
    $(function() {
      $('input#product').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/display', {
          a: $(this).val()
        }, function(data) {
          $("#prdct_title").text(data.title);
          $("#prdct_description").text(data.description);
          $("#prdct_brand").text("brand: "+data.brand);
          $("#prdct_price").text("price: $"+data.price);
          var image = document.createElement("IMG");
          image.src=data.imUrl;
          image.height=200;
          image.align='center';
          $("#prdct_image").html(image)
        });
        return false;
      });
    });
  </script>

{% endblock js %}


{% block body %}

  <!--search bar-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Baby Stuff</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
      <form name="sform" method="post" action="\">
        {{ sform.hidden_tag() }}
          {{ sform.keywords() }}
          <button name="search" type="submit" class="button-primary">Search</button>
      </form>
      </div>

      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
      <form name="rform" method="post" action="\recommend">
        {{ rform.hidden_tag() }}
          <button name="recommend" type="submit" class="button-primary">New Recommendations</button>
      </form>
      </div>
    </div>
  </div>

<br>

{% if products %}
  <!--recommendations-->
  <div class="container">
    <div class="row">
	
         {% for product in products %}
           <div class='col-sm-2'>
             <input id=product
                    type=image
                    name=display 
                    src={{product['imUrl']}}
                    width=120
                    height=120
                    value={{product['asin']}}
             />
           </div>
         {% endfor%}
      {%endif%}
    </div>
  </div>

  <br><br>

  <!--display of products-->
  <div class="container">
    <div class="row">
      <div class='col-sm-4'>
        <span id=prdct_image></span><br>
      </div>
      <div class='col-sm-8'>
        <span id=prdct_title></span><br><br>
        <span id=prdct_brand></span><br><br>
        <span id=prdct_price></span><br><br>
        <span id=prdct_description></span><br><br>
      </div>
    </div>
  </div>

{% endblock body %}

