
{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <div class="content">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <table align="center">
            <tr>
              <td>Baby Stuff</td>
              <td>{{ form.keywords() }}</td>
              <td><button type="submit" class="button-primary">Search</button></td>
            </tr>
          </table>
        </div>
      </form>

    </div>

  </section>


  <div class="content">
    {% if products %}
      <table align="center">
         <tr>
         {% for product in products %}
           <td>
             <input type="image" 
                    name="display" 
                    src='{{product['imUrl']}}' 
                    width=80 
                    height="80"
                    onclick="getDisplay({{product}})"
             /> 
           </td>
         {% endfor%}
         </tr>
      </table>
    {%endif%}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type=text/javascript>
    $(function() {
      $('input#calculate1').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
          a: $('input[name="c"]').val(),
          b: $('input[name="d"]').val()
        }, function(data) {
          $("#result1").text(data.result);
        });
        return false;
      });
    });
  </script>
  <h1>jQuery Example</h1>
  <p><input type=text size=5 name=c> +
     <input type=text size=5 name=d> =
     <span id=result1>?</span>
  <p><input id=calculate1 type=image src="http://ecx.images-amazon.com/images/I/51rR8RV5DHL._SY300_.jpg">
 
{% endblock body %}

{% block js %}

  <script type="text/javascript">
  </script>
{% endblock js %}

